<main>
  <!-- Título -->
  <div class="contact-header">
    <h1>Entre em contato conosco.</h1>
  </div>

  <!-- Opções de contato -->
  <div class="contact-options">
    <div class="contact-item">
      <!-- Espaço para o ícone -->
      <div class="icon-placeholder"></div>
      <p>Whatsapp </p>
        <p> (83) xxxxxx-xxxx </p>
    </div>
    <div class="contact-item">
      <!-- Espaço para o ícone -->
      <div class="icon-placeholder"></div>
      <p>Email: xxxxxxxx_xxxxxxx </p>
    </div>
    <div class="contact-item">
      <!-- Espaço para o ícone -->
      <div class="icon-placeholder"></div>
      <p>Chat: Clique Aqui </p>
    </div>
  </div>
</main>
