<main>
    <!-- Título -->
    <h1 class="page-title">Carrinho</h1>
  
    <!-- Caixa de texto informando o carrinho vazio -->
    <div class="message-box">
      <p>Carrinho vazio</p>
    </div>
  
    <!-- Seção de método de pagamento -->
    <div class="payment-method">
      <h3>Método de pagamento:</h3>
      
      <!-- Opções de pagamento -->
      <select class="payment-select">
        <option value="pix">Pix</option>
        <option value="cartao">Cartão de Crédito</option>
      </select>
    </div>
  </main>
  