<header>
  <header>
   
  </header>
  <router-outlet></router-outlet>
  
  <div class="navbar">
    <img class="logo" src="https://www.zarla.com/images/zarla-turismo-odisseia-1x1-2400x2400-20240418-hmgdjvry7gtbyxhqtgmd.png?crop=1:1,smart&width=250&dpr=2" alt="Logo da Empresa" />

    <input class="search-bar" type="text" placeholder="Pesquisar..." />

    <nav class="navbar">
      <a routerLink="/" class="nav-button">Página Inicial</a>
      <a routerLink="/passeios" class="nav-button">Passeios</a>
      <a routerLink="/sobre-nos" class="nav-button">Sobre Nós</a>
      <a routerLink="/contato" class="nav-button">Contato</a>
      <a routerLink="/carrinho" class="nav-button">Carrinho</a> <!-- Botão Carrinho -->
    </nav>

    <button class="login-button">Login</button>
  </div>
</header>
<router-outlet></router-outlet>
