<!-- Sobre-nos.component.html -->
<main>
     
  <div class="sobre">
    <h1 class="titu">Sobre Nós</h1>
    <p class="paragra">Na turismo odisseia, somos apaixonados por transformar viagens em experiências inesquecíveis. Com anos de expertise no setor de turismo, oferecemos aos nossos clientes roteiros personalizados, repletos de aventuras autênticas e momentos exclusivos. Nosso compromisso é proporcionar viagens que vão além dos destinos, criando conexões reais com culturas, pessoas e lugares. Se você busca explorar o mundo de maneira única, com segurança e atendimento de qualidade, estamos aqui para tornar seus sonhos de viagem uma realidade. Vamos viajar juntos?</p>
    <h2 class="titu">O que buscamos?</h2>
    <p class="paragra">Buscamos proporcionar aos nossos clientes experiências de viagem autênticas, enriquecedoras e personalizadas. Nosso objetivo é criar momentos inesquecíveis que conectem as pessoas com novos lugares, culturas e sensações. Valorizamos a excelência no atendimento, a segurança e o compromisso com a sustentabilidade, garantindo que cada viagem seja única e significativa. Estamos sempre em busca de inovação e parcerias que nos permitam oferecer roteiros diversificados e de alta qualidade, superando as expectativas dos nossos clientes em cada jornada.</p>
    <h2 class="titu">Como se candidatar?</h2>
    <p class="paragra">Para se candidatar a uma das nossas vagas ou oportunidades, siga os passos abaixo:

      Envie seu Currículo: Preencha o formulário disponível em nosso site ou envie seu currículo atualizado para o e-mail [inserir e-mail]. Certifique-se de incluir informações relevantes sobre sua experiência, habilidades e área de interesse.</p>
</div>
  </main>
